.cartSidebar{
	position: fixed;
    width: 32%;
    right: 1%;
    border: 1px solid #ddd;
    padding: 10px;
    height: 90vh;
    overflow-x: hidden;
}
.cartSidebar.hidden{
    display: none;
}
.cartItems button{
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 0;
    margin-right: 5px;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}
.cartItems .cartQuantity{
    border: 0px solid rgba(0,123,255,.5);
    position: absolute;
    right: 10%;
    overflow: hidden;
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
    top: 18%;
}
.cartItems .cartQuantity span{
        border-style: solid;
    border: 10px solid rgb(0 0 0 / 0%);
    cursor: pointer;
    position: absolute;
}
.cartItems .cartQuantity span:first-child{
    border-bottom-color: #28a745;
    top: -10px;
}
.cartItems .cartQuantity span:last-child{    
    border-top-color: #bd2130;
    top: 20px;
    
}


